<div class="container">
<form #adduserform = "ngForm" (ngSubmit) = "addUser(adduserform.value)">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel>
  </div>

<div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" ngModel>
  </div>

  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" ngModel>
  </div>

  <div class="form-group">
    <label for="idnumber">ID Number</label>
    <input type="text" class="form-control" id="idnumber" name="idnumber" placeholder="ID Number" ngModel>
  </div>

   <div class="form-group">
    <label for="type">User Type</label>
<select class="form-control" name="type" ngModel>
  <option value="Student">Student</option>
  <option value="Teacher">Teacher</option>
  <option value="Admin">Admin</option>

</select>
  
  </div>



<div class="form-group">
<label for="gender">Gender</label><br>
  <div class="radio-inline ">
    <label>
      <input type="radio" name="gender" id="male" value="Male" checked ngModel> Male
    </label>
  </div>
  <div class="radio-inline">
    <label>
      <input type="radio" name="gender" id="female" value="Female" ngModel> Female
    </label>
</div>
    <div class="radio-inline">
    <label>
      <input type="radio" name="gender" id="other" value="Other" ngModel> Other
       </label>

  </div>
    </div>


    <div class="form-group">
    <label for="grade">Grade</label>
<select class="form-control" name="grade" ngModel>
  <option value="PreK">Pre-K</option>
  <option value="Kindergarten">Kindergarten</option>
  <option value="1">1st Grade</option>
  <option value="2">2nd Grade</option>
  <option value="3">3rd Grade</option>
  <option value="4">4th Grade</option>
  <option value="5">5th Grade</option>
  <option value="6">6th Grade</option>
  <option value="7">7th Grade</option>
  <option value="8">8th Grade</option>
  <option value="9" selected>9th Grade</option>
  <option value="10">10th Grade</option>
  <option value="11">11th Grade</option>
  <option value="12">12th Grade</option>
  
</select>
  
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>