<div class="container">
<table class="table" *ngIf="books?.length > 0">
<thead>
<th>No</th>
<th>Title</th>
<th>Year</th>
<th>Author</th>
<th>ISBN</th>
<th>Publisher</th>
<th>Tag</th>
</thead>

<tbody>
 <tr *ngFor="let book of books;let i = index" >
<td >{{i+1}}</td>
<td >{{book.title | titlecase}}</td>
<td >{{book.year}}</td>
<td >{{book.author | titlecase}}</td>
<td >{{book.isbn}}</td>
<td >{{book.publisher | titlecase}}</td>
<td >{{book.tag | titlecase}}</td>
</tr>
 <tbody>
</table>

<div class="well" *ngIf="books?.length == 0"><h4>Looks like there are no books.</h4></div>
</div>