<div class="container">
<div class="row">

<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
          
						<i class="fa fa-users fa-5x"></i>
					</div>
					<div class="col-xs-6 text-right">
						<p class="announcement-heading">{{this.stats.TotalUsers}}</p>
						<p class="announcement-text">Total Users</p>
					</div>
				</div>
			</div>
			<a routerLink="/users">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-6">
							View Users
						</div>
						<div class="col-xs-6 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
          
						<i class="fa fa-child fa-5x"></i>
					</div>
					<div class="col-xs-6 text-right">
						<p class="announcement-heading">{{this.stats.TotalStudents}}</p>
						<p class="announcement-text">Total Students</p>
					</div>
				</div>
			</div>
			<a routerLink="/view-students">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-6">
							View Students
						</div>
						<div class="col-xs-6 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
          
						<i class="fa fa-user fa-5x"></i>
					</div>
					<div class="col-xs-6 text-right">
						<p class="announcement-heading">{{this.stats.TotalTeachers}}</p>
						<p class="announcement-text">Total Teachers</p>
					</div>
				</div>
			</div>
			<a routerLink="/view-teachers">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-6">
							View Teachers
						</div>
						<div class="col-xs-6 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
          
						<i class="fa fa-users fa-5x"></i>
					</div>
					<div class="col-xs-6 text-right">
						<p class="announcement-heading">{{this.stats.TotalAdmins}}</p>
						<p class="announcement-text">Total Admins</p>
					</div>
				</div>
			</div>
			<a routerLink="/view-admins">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-6">
							View Admins
						</div>
						<div class="col-xs-6 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
</div>


<!-- second row-->
<div class="row">
<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
          
						<i class="fa fa-puzzle-piece fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<p class="announcement-heading">{{this.stats.TotalCategories}}</p>
						<p class="announcement-text">Total Categories</p>
					</div>
				</div>
			</div>
			<a routerLink="/categories">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-6">
							All Categories
						</div>
						<div class="col-xs-6 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
          
						<i class="fa fa-book fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<p class="announcement-heading">{{this.stats.TotalBooks}}</p>
						<p class="announcement-text">Total Books</p>
					</div>
				</div>
			</div>
			<a  routerLink="/books">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-6">
							View Books
						</div>
						<div class="col-xs-6 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
          
						<i class="fa fa-shopping-bag fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<p class="announcement-heading">{{this.stats.TotalBorrowedBooks}}</p>
						<p class="announcement-text">Total Borrowed Books</p>
					</div>
				</div>
			</div>
			<a routerLink="#">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-8">
							View Borrowed Books
						</div>
						<div class="col-xs-4 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
<!-- Card Starts-->
	<div class="col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
          
						<i class="fa fa-sticky-note fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<p class="announcement-heading">{{this.stats.TotalAdmins}}</p>
						<p class="announcement-text">Total Available Books</p>
					</div>
				</div>
			</div>
			<a routerLink="#">
				<div class="panel-footer announcement-bottom">
					<div class="row">
						<div class="col-xs-8">
							View Available Books
						</div>
						<div class="col-xs-4 text-right">
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
<!-- Cart Ends-->
</div>

